{% extends 'default.html' %}

{% block content %}

<body>
    <br>
    <br>

    <div class="text-center">

        <div class="container">

            <h2> o que é isso?</h2>

            <br>

            <h5> Um ECommerce feito em Django.....</h5>
                
            <hr>

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias asperiores expedita voluptatibus repellendus soluta, atque eum eligendi in, distinctio tempore magni libero quaerat sunt unde cumque animi omnis nulla fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iure velit tempore, vitae architecto quibusdam rerum molestiae quis, corrupti est in consectetur. Excepturi totam, veritatis perspiciatis ex pariatur sapiente vero. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus enim iusto blanditiis, consectetur magni doloremque facilis fugit ex quo laudantium non nulla ab nam porro id quasi at optio dolor! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod aliquam consectetur, distinctio sint vero consequatur facilis, neque consequuntur sunt omnis dolorem! Natus molestiae, quae quidem in possimus rerum eos sit.

            <br>

        </div>
    
    </div>

</body>

{% endblock %}
